@use '../common';

.loading{
	position: relative;
	cursor: default;
	text-shadow: none!important;
	color: transparent!important;
	opacity: 1;
	pointer-events: auto;
	transition: all 0s linear,opacity .1s ease;
}
.fluid{
	width: 100%;
}
.active{

}
.disabled{}
.button{
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background: #e0e1e2 none;
	color: rgba(0,0,0,.6);
	margin: 0 0.25em 0 0;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-transform: none;
	text-shadow: none;
	font-weight: 700;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 0.28571429rem;
	box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
	-webkit-user-select: none;
	user-select: none;
	transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
	will-change: auto;
	-webkit-tap-highlight-color: transparent;
}

.button.loading{
	&::before{
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin: -0.64285714em 0 0 -0.64285714em;
		width: 1.28571429em;
		height: 1.28571429em;
		border-radius: 500rem;
		border: .2em solid rgba(0,0,0,.15);
	}
	&::after{
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin: -0.64285714em 0 0 -0.64285714em;
		width: 1.28571429em;
		height: 1.28571429em;
		border-radius: 500rem;
		border-color: #fff transparent transparent;
		border-style: solid;
		border-width: 0.2em;
		box-shadow: 0 0 0 1px transparent;
		@include common.buttonSpin;
	}
}